
.TopBanner{
    background-color: dimgrey;
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 0;
    box-shadow: -5px 0px 5px aqua;
}
 
.Main {
    margin: 20px 5px 20px 0px;
    display: inline;
}

.Main-2nd {
    opacity: 0.7;
}

.Main-3rd {
    opacity: 0.4;
}

body {
    background-color: grey;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

.styleBox{
    min-width: 300px;
    background-color: lightgray;
    border-style: hidden;
    border-width: 0.5px;
    border-color: red;
    font-size: 16px;
    margin-top: 16px;
    
    
}

.startBtn{
    min-width: 50px;
    border-style: none;
    background-color: dimgray;
    color: white;
    padding: 1px 5px 1px 5px;
    font-size: 13px;
    position: absolute;
    height: 20.4px;
    margin-right: 15px;
    margin-top:16px;
    text-align: center;
}

.startBtn:hover {
    background-color: rgb(146, 146, 146);
}

.styleBox:focus {
  outline-style: none;
}

.menuBtn {
    width: 50px;
    border-style: none;
    background-color: dimgray;
    color: white;
    padding: 10px;
    width: 90px;
    border-top: solid;
    border-color: black;
    border-width: 2px;
    font-size: 11px;
}

.menuBtn:hover {
    background-color: rgb(146, 146, 146);
}   

.menuBtn:focus {
    border-style: none;
}

.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

.menuItem {
    float: left; 
}

.menuItemA {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menuItemA:hover {
    background-color: rgb(146, 146, 146);
}

.error {
    text-align: center;
    margin-top: 10%;
}

.homeBtn {
    border-style: none;
    background-color: dimgray;
    color: white;
    padding: 8px;
    border-width: 2px;
    border-radius: 6px;
}

.homeBtn:hover {
    background-color: rgb(146, 146, 146);
}

.count {
    margin: 5px 0px 5px 0px;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "modifier input word";
  }
  
  .textInput { 
      grid-area: input;
 
      margin-top: 20px;
    }
  
  .modifier { 
      grid-area: modifier; 
      
      padding-top: 5px;
      padding-left: 20%;
      margin-left: 25%;
      margin-right: 15%;
      margin-top: 20px;
    }
  
  .word { 
      grid-area: word; 
      text-align: center;
      border: solid;
      border-width: 2px;
      width: 600px;
      min-height: 100px;
      padding: 5px 10px 2px 5px;
      margin: 20px 0px 0px 0px;
      position: relative;
      overflow: auto;
      display: inline-block;
    }






.gameContent {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 13%;
    margin-top: 20px;
    width: 300px;
}

.wordContainer {
    text-align: center;
    border: solid;
    border-width: 2px;
    width: 600px;
    min-height: 100px;
    padding: 5px 10px 2px 5px;
    margin: 20px 0px 0px 75px;
    position: relative;
    overflow: auto;
    display: inline-block;
}

.correctWords {
    float: left;
    width: 299.5px;
    height: 100%;
    position: relative;
    word-wrap: break-word;

}

.wordListCorrect {
    color: white;
    text-align: center;
    width: 299.5px;
    float: left;
}

.vr {
  
    height: 100%;
    width: 1px;
    background-color: white;
    float:right;
    
}

.incorrectWords {
    float: left;
    width: 299.5px;
    height: 100%;
    position: relative;
    word-wrap: break-word;
    text-align: center;
}

.wordListInorrect {
    color: white;
    float: left;
    text-align: center;
    width: 299.5px;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1px 0px 0px 0px;
    padding: 0;
}

hr.vertical {
    height: 100%;
    width: 1px;
    display: block;
    border-top: none;
    border-right: 1px solid white;
}

.container {
    top: 5px;
    text-align: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:5px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: lightgrey;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: rgb(2, 177, 177);
  }

  .container input:checked ~ .checkmark-adj {
      background-color: rgb(2, 177, 177);
  }

  .container input:checked ~ .checkmark-noun {
    background-color: rgb(255, 0, 255);
}

.container input:checked ~ .checkmark-verb {
    background-color: rgb(255, 136, 0);
}
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 4.5px;
    top: 2px;
    width: 2.5px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wordPill {
    margin-top: 5px;
    margin-left: 5px;
    background-color: dimgray;
    border-style: solid;
    border-radius: 4px;
    border-color: dimgray;
    width: fit-content;
    padding: 2px 3px 2px 3px;
    float:left;
}

.wordPill-adj {
    background-color: rgb(2, 177, 177);
    border-color: rgb(2, 177, 177);
}

.wordPill-noun {
    background-color: rgb(255, 0, 255);
    border-color: rgb(255, 0, 255);
}

.wordPill-verb {
    background-color:  rgb(255, 136, 0);
    border-color: rgb(255, 136, 0);
}

.styleBox-test {
    margin-left: 10px;
    margin-top: 15px;
    float:left;
}

.lengthContainer {
    width: 270px;
    margin-top: 15px;
}

.lengthSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height:5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.lengthSlider:hover {
    opacity: 1;
}

.lengthSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: aqua;
    cursor: pointer;
}

progress[value] {
    width:300px;
    height: 5px;
    
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #d3d3d3;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(left, #f0f, aqua);

    border-radius: 1px;
    background-size: 35px 20px, 100% 100% 100% 100%;
}